<div class="background">
  <div class="container text-center">
      <br>
      <br>
      <br>
      <br>
      <h1 style="font-size: 24px; font-family: 'georgia';font-weight: bold;">Welcome to Pension Management System</h1><br>
      <br>
      <h2 style="font-size: 24px; font-family: 'georgia';font-weight: bold;">By Sayan Paul</h2><br>
      <a *ngIf="!loggedIn" routerLink="/login" mat-raised-button color="accent">Login here</a>
  </div>
</div>
<div class="about-section">
  <h1 style="color: black; font-size: 30px; font-weight:initial;">About the application</h1>
  <p>Here is all the details of the application that you should know</p>
  <p>This application is a Pension Management System, which is developed by Sayan Paul </p>
  <p> The developer has used java code in the backend and angular in the frontend of the project. </p>
  <p>This application is built as part of FSE0 accredition of Cognizant Digital Honors Program.</p>
</div>